
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif ;
}


header {
    width: 100%;
    color: white;
    background: #2d25a0;
}

nav, ul , .heroCtn , .btnCtn, .containedBtn , .copaContent, .ctn , .players , .playerCtn , .copaAmerica{
    display: flex;
    align-items: center;
}

.ctn , .playerCtn , .copaContent{
    flex-direction: column;
}
.copaContent{
    align-items: start;
    gap: 15px;
}

nav , .heroCtn, .ctn {   
     max-width: 1150px;
     margin: 0  auto;
}
nav {
    width: 80%;
    position: fixed;
    justify-content: space-between;
    margin: 0 auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
nav> ul > li {
    list-style: none;
    
}
nav > ul > li , .containedBtn {
    font-size: 1rem;
    font-weight: 500;
}
nav > ul {
    gap: 10px;
}
nav > ul > li> a {
    text-decoration: none;
    color: white;
}

.heroCtn {
    padding: 12% 0 5% 0;
}
.heroCtn{
    justify-content: space-between;
}

.btnCtn{
    gap: 5px;
}
.containedBtn {
    outline: none;
    border: none;
    background-color: #e02c6d;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    gap: 10px;
}
.heroTitle {
    font-size: 4rem;
    font-weight: 800;
}
.btnCtn{
    margin-top: 0.8rem;
}


.ctn {
    gap: 50px;
    margin-top: 50px;
}
.players , .playerCtn{
    gap: 20px;
}
.playerImg > img {
    /* border-radius: 8px; */
}

.name {
    font-size: 28px;
    font-weight: 800;
}
.paragraph {
    color: rgb(108, 108, 108);
}

.copaAmerica {
    gap: 70px;
}

.copaContent > div > p {
    width: 70%;
    margin-top: 10px ;
}
.title {
    font-size: 48px;
    font-weight: 800;
}